@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Red+Hat+Display:wght@700&display=swap');

html {
  font: 62.5% 'Montserrat', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.nav-btn {
  color: #1f28cf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #1f28cf;
  padding: 1rem 3rem;
  border-radius: 5rem;
  gap: 1rem;
}
.calender {
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.date {
  border-bottom: 1.5px solid rgb(126, 122, 122);
  width: 50px;
}
