@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Red+Hat+Display:wght@700&display=swap');

html {
  font: 62.5% 'Montserrat', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.nav-btn {
  color: #1f28cf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #1f28cf;
  padding: 1rem 3rem;
  border-radius: 5rem;
  gap: 1rem;
}
.text {
  word-spacing: 0.3rem;
}
.calender {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.red-hat-display {
  font-family: 'Red Hat Display', sans-serif;
}

.date {
  border-bottom: 1.5px solid rgb(126, 122, 122);
  width: 50px;
}
.application-openeing {
  background-color: rgb(255, 251, 242);
}

hr {
  height: 3px;
  color: rgb(198, 201, 204);
}
.card-container {
  height: 450px;
}
.number-one {
  border-radius: 50%;
  padding: 1rem;
  object-fit: contain;
  width: 20%;
  height: 6%;
  margin-right: 2rem;
  background-color: rgb(163, 163, 219);
}

.number-one img {
  margin: 0 auto;
  width: 80%;
}
.faq {
  border-color: rgb(175, 175, 175);
}

.faq hr {
  width: 68%;
  margin: auto;
  color: rgb(160, 160, 160);
}
.steps img {
  width: 80%;
}

@media (max-width: 1022px) {
  .container {
    max-width: 100vw;
  }
  .nav-bar {
    padding-bottom: 2rem;
  }
  .requirement-container {
    height: 30%;
  }
  .contact-us {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .nav-bar,
  .hero {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .nav-btn {
    width: 120px;
    padding: 1rem;
  }
  .nav-bar,
  .hero {
    max-width: 95%;
    margin: 0 auto;
  }
  .steps img {
    width: 100%;
  }
  .contact-us {
    width: 80%;
  }
}
